* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgba(0, 0, 0, 0.8);
}


.positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.teams-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-container__team-one-container,
.teams-container__team-two-container {
    display: flex;
    margin: 20px;

}

.teams-container__player {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
}

.teams-container__player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams-container__room-id-input {
    width: 150px;
    border: 2px solid rgba(0, 255, 255, 1);
    background-color: rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 255, 1);
    border-radius: 5px;
    height: 30px;
    color: white;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(255, 0, 0, 1);
    color: white;
    margin: 10px;
    cursor: pointer;
}

.teams-container__disconnect-button {
    display: none;
}

.go-button {
    border-radius: 5px;
    padding: 5px 20px;
    border: 2px solid rgba(0, 255, 0, 1);
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 0, 1);
    color: white;
    display: none;
    cursor: pointer;

}

.active {
    border: 2px solid rgba(0, 255, 0, 1);
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 255, 0, 1);
}